.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  article {
    flex: 1 0 50%;
    padding: 0 10px;

    @media (max-width: 820px) {
      flex: 1 0 100%;
      text-align: center;
      &:nth-of-type(1) {
        order: 2;
      }
      &:nth-of-type(2) {
        order: 1;
      }
      h1 {
        display: none;
      }
    }
  }

  img {
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
  }

  h1 {
    font-size: 6em;
    line-height: 1em;
    margin: 0 0 20px -20px;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
    color: #666;
  }
}
